
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心-待评论</title> 
    <meta name="renderer" content="webkit"> 
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/themes/basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/themes/basic/css/basic.css">
    <link rel="stylesheet" href="/themes/basic/css/comment.css">
    <link rel="stylesheet" href="/Themes/Basic/css/basic.css">
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/amazeui.min.js"></script> 
    <script src="/themes/basic/js/comment.js"></script>
    <script src="/themes/common/js/jsglobalenum.js"></script>
    <script src="/themes/basic/js/common.js"></script> 
    <link rel="stylesheet" type="text/css" href="/Themes/Basic/Js/diyUpload/css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/Themes/Basic/Js/diyUpload/css/diyUpload.css">
    <script type="text/javascript" src="/Themes/Basic/Js/diyUpload/js/webuploader.min.js"></script>
    <script type="text/javascript" src="/Themes/Basic/Js/diyUpload/js/diyUploadEvaluateM.js"></script>

</head>
<body> 
    <div style="display:none;">
        <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
    </div>
    <!----header开始------>
    <header data-am-widget="header" class="am-header header">
        @Html.Partial("controls/_HeadBanner") 
        <h1 class="am-header-title">
            <a href="javascript:void(0)">
                查看评论
            </a>
        </h1> 
    </header>
    @{
        SuperMarket.Model.CommentEntity commententity = ViewBag.CommentEntity;
        IList<SuperMarket.Model.CommentPicEntity> piclist = ViewBag.CommentPicList;
        SuperMarket.Model.VWOrderDetailEntity _product = ViewBag.ProductEntity;

      <div class="addComment">
           <div class="am-cf addComment-main">
            <img src="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl + _product.PicUrlSmall)">
             <div class="shop-rating">
                <span class="title">产品质量：</span>
                <ul class="rating-level" id="stars1">
                    <li><a class="one-star" starvalue="1" href="javascript:void(0)">1</a></li>
                    <li><a class="two-stars" starvalue="2" href="javascript:void(0)">2</a></li>
                    <li><a class="three-stars" starvalue="3" href="javascript:void(0)">3</a></li>
                    <li><a class="four-stars current-rating" starvalue="4" href="javascript:void(0)">4</a></li>
                    <li><a class="five-stars" starvalue="5" href="javascript:void(0)">5</a></li>
                </ul>
                <span class="result" style="display:none;" id="stars1-tips"></span>
                <input type="hidden" class="clsstarname" code="stars1" id="stars1-input" name="a" value="@commententity.ProductStar" />
            </div> 
        </div> 
        <form class="addComment-main2">
            <textarea id="txtCommentContent" readonly   placeholder="商品满足您的期待吗？说说它的优点和美中不足的地方吧" maxlength="200">@commententity.CommentContent</textarea>
            <div class="addComment-main2-div" id="divpicbox">
                @if (piclist != null && piclist.Count > 0)
                {
                    foreach (SuperMarket.Model.CommentPicEntity picentity in piclist)
                    { 
                        <img src="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl + picentity.PicUrl+"."+picentity.PicSuffix)" class="am-img-responsive">
                    }
                } 
            </div>
            <div style="display:none;">
                <span>共<a id="aHasUpload">0</a>张，还能上传<a id="aCanUpload">10</a>张</span></div> 
        </form> 
    </div> 
 
    <div class="addComment-main3">
        <div class="shop-rating" style="margin-top: 1rem">
            <span class="title">送货速度：</span>
            <ul class="rating-level" id="stars2">
                <li><a class="one-star" starvalue="1" href="javascript:void(0)">1</a></li>
                <li><a class="two-stars" starvalue="2" href="javascript:void(0)">2</a></li>
                <li><a class="three-stars" starvalue="3" href="javascript:void(0)">3</a></li>
                <li><a class="four-stars" starvalue="4" href="javascript:void(0)">4</a></li>
                <li><a class="five-stars" starvalue="5" href="javascript:void(0)">5</a></li>
            </ul>
            <span class="result" style="display:none;" id="stars2-tips"></span>
            <input type="hidden"  class="clsstarname"  code="stars2" id="stars2-input" name="a" value="@commententity.TrafficStar" size="2" />
        </div>

        <div class="shop-rating">
            <span class="title">服务态度：</span>
            <ul class="rating-level" id="stars3">
                <li><a class="one-star" starvalue="1" href="javascript:void(0)">1</a></li>
                <li><a class="two-stars" starvalue="2" href="javascript:void(0)">2</a></li>
                <li><a class="three-stars" starvalue="3" href="javascript:void(0)">3</a></li>
                <li><a class="four-stars" starvalue="4" href="javascript:void(0)">4</a></li>
                <li><a class="five-stars" starvalue="5" href="javascript:void(0)">5</a></li>
            </ul>
            <span class="result" style="display:none;" id="stars3-tips"></span>
            <input type="hidden"  class="clsstarname" code="stars3" id="stars3-input" name="a" value="@commententity.SeviceStar" size="2" />
        </div>
        <div class="shop-rating">
            <span class="title">商品包装：</span>
            <ul class="rating-level" id="stars4">
                <li><a class="one-star"   starvalue="1" href="javascript:void(0)">1</a></li>
                <li><a class="two-stars" starvalue="2" href="javascript:void(0)">2</a></li>
                <li><a class="three-stars" starvalue="3" href="javascript:void(0)">3</a></li>
                <li><a class="four-stars" starvalue="4" href="javascript:void(0)">4</a></li>
                <li><a class="five-stars" starvalue="5" href="javascript:void(0)">5</a></li>
            </ul>
            <span class="result" style="display:none;" id="stars4-tips"></span>
            <input type="hidden"  class="clsstarname" code="stars4" id="stars4-input" name="a" value="@commententity.PackStar" size="2" />
        </div>
    </div>
    }
    <script>
        $(function () {
            $(".clsstarname").each(function () {
                var code = $(this).attr("code");
                var star = $(this).val(); 
                //$('#' + code + ' li a').addClass("current-rating")
                $("#" + code + " a[starvalue='" + star + "']").addClass("current-rating");
            })
        });
        
    </script>
      

</body>
</html>