<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/Themes/Basic/css/header_footer.css?type==@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle" rel="stylesheet" type="text/css" />
    <link href="/Themes/Basic/css/stylecart.css?type==@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/cartypeselect.js"></script>
    <script src="/themes/basic/js/globals.js?type==@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts" type="text/javascript"></script>
    <script type="text/javascript" src="/themes/basic/js/GlobalCart.js?type==@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script type="text/javascript" src="/js/JsGlobalEnum.js?type==@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    @RenderSection("Head", false)

    <!--鼠标点击更多-->
    <script>
        $(function () {
            //绑定分类列表开始
            $(".divbigcartype1").hover(function () {
                $(this).addClass("Choice4_hover");
                $(".divcartype1").show();
            }, function () {
                $(this).removeClass("Choice4_hover");
                $(".divcartype1").hide();
            });
            $(".divbigcartype2").hover(function () {
                $(".divcartype2").show();
            }, function () {
                $(".divcartype2").hide();
            });
            $(".divbigcartype3").hover(function () {
                $(".divcartype3").show();
            }, function () {
                $(".divcartype3").hide();
            });
            $(".divbigcartype4").hover(function () {
                $(".divcartype4").show();
            }, function () {
                $(".divcartype4").hide();
            });
            $(".ulcartype2pyfirst li").hover(function () {
                var py = $(this).attr("fpy");
                $(this).siblings().removeClass("fontred");
                if (py == "Hot") {
                }
                else {
                    $(this).addClass("fontred");
                }
                $(this).parent().parent().parent().find(".ulcartype2 li").hide();
                $(this).parent().parent().parent().find(".ulcartype2 li[fpy='" + py + "']").show();
            }, function () {
            });
            BindCarType_1("ulcartype1", 0);
            //绑定分类列表结束
            //列表项显示
            //$(".LeftMenu").hover(function () {
            //    $(".LeftMenu_Classify").show()
            //    $(".LeftMenu").removeClass("car_classify")
            //}, function () {
            //    $(".LeftMenu_Classify").hide()
            //    $(".LeftMenu").addClass("car_classify")
            //});
            //<!--分类箭头翻转开始-->
            $(".LeftMenu").hover(function () {
                $(".turn_arrow").addClass("turn_arrow_hover");
            }, function () {
                $(".turn_arrow").removeClass("turn_arrow_hover").addClass("turn_arrow")
            });

            $(".Cor_cancle").click(function () {
                $(".Cor_commodity_detail").hide();
            })
        });
        

        $(document).ready(function () {
            $(".information_name").each(function () {
                $(this).click(function () {
                    $(".information_name_selecticon").hide();
                    $(".information_name").removeClass("information_name_Click");
                    $(this).addClass("information_name_Click");
                    $(this).find("b").show();

                    $(".Order_information_detailToggle").removeClass("Order_information_detailOrigin").addClass("Order_information_detail");
                    $(this).parent().removeClass("Order_information_detail").addClass("Order_information_detailOrigin");


                })
            });
            $(document).ready(function (e) {
                $(".LeftMenu_Classify > li").each(function (index, element) {
                    this.index = index
                    $(this).hover(function () {
                        $(".Hover_homemenu").eq(this.index).show();
                        //$(".LeftMenu_left").eq(this.index).animate({ "margin-left": "5px" }, 100);
                        //$(".Hover_homemenu").eq(this.index).animate({ "padding-left": "3px" }, 100);
                        $(".Arrow").eq(this.index).fadeIn(100)
                    }, function () {
                        $(".Hover_homemenu").eq(this.index).hide();
                        //$(".LeftMenu_left").eq(this.index).animate({ "margin-left": "0px" }, 100)
                        //$(".Hover_homemenu").eq(this.index).animate({ "padding-left": "0px" }, 100);
                        $(".Arrow").eq(this.index).hide();
                    })
                });

            });
        });
        

      

        
    </script>
    <!--分类箭头翻转开始-->

</head>

<body style="background:#fff">

    <div style="display:none;">
        <span id="spanCartype1" cartypeid="0"></span>
        <span id="spanCartype2" cartypeid="0"></span>
        <span id="spanCartype3" cartypeid="0"></span>
        <span id="spanCartype4" cartypeid="0"></span>
        <input id="txtPicServerRootUrl" value="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl)" />
        <input id="hidShopCartDomain" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.DomainShopping" />
        <input id="hidReturnUrl" value="@ViewBag.ReturnUrl" />
    </div>

    <div class="Page_top"></div> 
     <div class="Allcontent"></div>

    <div class="Home">
        @Html.Partial("controls/_TopMaster") 
        <div class="Header">
            <div class="Logo"><a href="/Home/Index"><img title="小店" alt="小店" src="/Themes/Basic/img/logo.png" /></a></div>
            <span>@ViewBag.PageName</span>
        </div>  
        @RenderBody()
        @Html.Partial("controls/_FootMaster")


    </div>

    @Html.Partial("controls/_RightMaster")
    @Html.Partial("controls/_BodyBefore")
        
 </body>
</html>
