
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心爆品热卖</title> 
    <meta name="renderer" content="webkit"> 
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <link rel="shortcut icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css">
    <link rel="stylesheet" href="/Themes/Basic/css/basic.css">
    <link rel="stylesheet" href="/Themes/Basic/css/product.css"> 
    <link rel="stylesheet" href="/Themes/Basic/css/hotSale.css">
    <link rel="stylesheet" href="/Themes/Basic/css/basic.css">
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/themes/basic/js/amazeui.min.js"></script>
    <script src="/themes/basic/js/handlebars.min.js"></script>
    <script src="/themes/basic/js/amazeui.widgets.helper.js"></script> 
    <script src="/themes/basic/js/jquery.fly2.min.js"></script>
    <script src="/themes/basic/js/CommonNumInit.js"></script>
    <script src="/Themes/Basic/js/dropload.min.js"></script>
    <script src="/themes/basic/js/globalcart.js"></script>
    <script src="/themes/basic/js/common.js"></script>
    <script src="/themes/common/js/jsglobalenum.js"></script>  
    <script>

        /********关于主页倒计时特效*********/
        function HuoDongLessTimer() {
            var endtime = $("#spanendtime").html();
            var ts = (new Date(endtime)) - (new Date());//计算剩余的毫秒数
            var total = ts / 1000;
            lesshour = parseInt(total / (60 * 60));//计算整数天数
            total = total - lesshour * 60 * 60;
            lessmm = parseInt(total / 60);// 取得算出天数后剩余的秒数
            total = total - lessmm * 60;
            lessss = parseInt(total);//取得算出分后剩余的秒数
            BindLessTime();
            setInterval("BindLessTime()", 1000);
        }
        function BindLessTime() {
            lesshour = parseInt(lesshour);
            lessmm = parseInt(lessmm);
            lessss = parseInt(lessss);
            if (lessss == 0) { lessss = 59; lessmm = lessmm - 1 } else { lessss = lessss - 1; }
            if (lessmm == -1) { lessmm = 59; lesshour = lesshour - 1 }
            if (lesshour < 0) { lesshour = 0; lessmm = 0; lessss = 0; }

            lesshour = checkTime(lesshour);
            lessmm = checkTime(lessmm);
            lessss = checkTime(lessss);
            document.getElementById("spantimer").innerHTML = lesshour + "时" + lessmm + "分" + lessss + "秒";

        }
        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        $(function () {
            if ($("#spantimer").length > 0) {
                HuoDongLessTimer();
            }

        })
       
    </script>
</head>
<body><div style="display:none;">
    <input type="hidden" id="hidLoginWebUrl" value="@JiChen.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
</div>
    <div class="hotSale">

        <!----头部开始------>
        <header data-am-widget="header" class="am-header am-header-fixed hotSale-header">
            @Html.Partial("controls/_HeadBanner")
            <h1 class="am-header-title">
                <a href="javascript:void(0)">
                    爆品热卖
                </a>
            </h1>
            @Html.Partial("controls/_CartBox")
        </header> 
        @{
            IList<JiChen.Entities.VWProductBaoPinEntity> list = ViewBag.ListProduct; 
        }


        <div>
            <img src="/themes/basic/img/propic/baopinzs.jpg" class="am-img-responsive">
        </div>
        @if (list != null && list.Count > 0)
        {    
           <div style="display:none;">
                <span id="spanmaxpageindex">@ViewBag.MaxPageIndex</span>
                <span id="spanendtime">@list[0].EndTime</span>
            </div>
            <div class="hotsale-daojishi">
                <span>热卖活动还剩:</span>
                <span id="spantimer">
                </span>
            </div>
        }
   
        <!----------热卖产品列表开始----------->
        <div class="hotSale-main">
            <ul id="ulProductbpbox"> 
                @{
                    if (list != null && list.Count > 0)
                    {
                        foreach (JiChen.Entities.VWProductBaoPinEntity pentity in list)
                        {
                            <li> 
                                <div data-am-widget="list_news" class="am-list-news am-list-news-default product-list-news am-cf">
                                    <div class="am-list-news-bd">
                                        <ul class="am-list"> 
                                            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                                <div class="am-u-sm-4 am-list-thumb">
                                                    <a href="/MobileProduct/detail?pd=@(pentity.ProductDetailId)" class="">
                                                        <img src="@(JiChen.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl + pentity.ProductDetail.PicUrlList)" class="am-img-responsive" />
                                                    </a>
                                                </div> 
                                                <div class="am-u-sm-8 am-list-main">
                                                    <h3 class="am-list-item-hd"><a href="/MobileProduct/detail?pd=@(pentity.ProductDetail.ProductDetailId)" class="">@(pentity.ProductDetail.AdTitle)</a></h3>
                                                    <div class="am-list-item-desced am-cf hotSale-main-huiyuan">
                                                        @if (pentity.Price == 0)
                                                        {
                                                            <a href="" class="am-fl" style="color:#FF532B">会员可见</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="" class="am-fl" style="color:#FF532B">@pentity.Price.ToString("0.00")</a> 
                                                        }  
                                                    </div>
                                                    <div class="am-list-item-desced">
                                                        <div class="am-fl" style="margin-top: .5rem">
                                                            <input id="txtProductNum@(pentity.ProductDetailId)" hascreate="0"  style="width:100px;" class="alignment" value="1" />
                                                        </div>
                                                        <div class="am-fr clsaddtocart"  ProductDetailId="@(pentity.ProductDetailId)"  style="background-color: #CC1B23; border-radius: .3rem;padding: .3rem .5rem; color:#fff">加入购物车</div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                            </li> 
                        }

                    }
                } 
            </ul>
        </div> 
    </div> 

    <script id="divhotsalesList-template" type="text/x-handlebars-template">
        {{#each this}}
        <li>
            <div data-am-widget="list_news" class="am-list-news am-list-news-default product-list-news am-cf">
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="/MobileProduct/detail?pd={{ProductDetailId}}" class="">
                                    {{#with ProductDetail}}
                                    <img src="@(JiChen.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl){{PicUrlList}}" class="am-img-responsive" />
                                    {{/with}}
                                </a>
                            </div>
                            <div class="am-u-sm-8 am-list-main">
                            {{#with ProductDetail}}
                                <h3 class="am-list-item-hd"><a href="/MobileProduct/detail?pd={{ProductDetailId}}" class="">{{AdTitle}}</a></h3>
                            {{/with}}
                                <div class="am-list-item-desced am-cf hotSale-main-huiyuan">
                                {{#if ProductDetailId}}
                                {{#compare Price 0}}
                                    <a href="" class="am-fl" style="color:#FF532B">{{transformat Price}} </a> 
                                    {{else}}
                                    <a href="" class="am-fl" style="color:#FF532B">会员可见</a>
                                    {{/compare}}
                                    {{/if}}
                                </div>
                                <div class="am-list-item-desced">
                                    <div class="am-fl" style="margin-top: .5rem">
                                        <input id="txtProductNum{{ProductDetailId}}" hascreate="0" style="width:100px;" class="alignment" value="1" />
                                    </div>
                                    <div class="am-fr clsaddtocart" ProductDetailId="{{ProductDetailId}}" style="background-color: #CC1B23; border-radius: .3rem;padding: .3rem .5rem; color:#fff">加入购物车</div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>  
        {{/each}}
    </script>

    <script>
        $(function () {
            offsetcart = $(".am-icon-shopping-cart").offset();
            GetCartCount();
            AddToCartClick();
            // 页数
            var page = 1;
            var maxpage = $("#spanmaxpageindex").html(); 

            // dropload
            $(".hotSale-main").dropload({
                scrollArea: window,
                domDown: {
                    domClass: 'dropload-down',
                    domRefresh: '<div class="dropload-refresh">↑上拉加载更多</div>',
                    domLoad: '<div class="dropload-load"><span class="loading"></span>加载中....</div>',
                    domNoData: '<div class="dropload-noData">暂无更多数据</div>'
                },
                loadDownFn: function (me) {
                    page++;
                    var result = '';
                    $.ajax({
                        type: 'GET',
                        url: '/MobileProduct/GetProductBpList',
                        data: {  pageindex: page },
                        dataType: 'json',
                        success: function (data) {
                            if (page <= maxpage) {
                                var objlist = data.List;
                                var myTemplate = Handlebars.compile($("#divhotsalesList-template").html());
                                //注册一个比较大小的Helper,判断v1是否大于v2
                                Handlebars.registerHelper("compare", function (v1, v2, options) {
                                    if (v1 > v2) {
                                        return options.fn(this);
                                    } else {
                                        return options.inverse(this);
                                    }
                                });
                                Handlebars.registerHelper("transformat", function (value) {
                                    return value.toFixed(2);
                                });
                                $('#ulProductbpbox').append(myTemplate(objlist)); me.resetload();
                                Create_Num();
                            } else {
                                // 锁定
                                me.lock();
                                // 无数据
                                me.noData(); me.resetload();
                            } 
                        },
                        error: function (xhr, type) {
                            alert('Ajax error!');
                            // 即使加载出错，也得重置
                            me.resetload();
                        }
                    });
                },
                threshold: 50
            });
        })
    </script>
    @Html.Partial("controls/_BodyBefore")
</body>
</html>