 
<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小店-国内最专业的汽车零部件及相关用品的在线采购网站</title>
    <meta name="keywords" content="小店_车配网_汽配_汽车用品_汽车配件_乘用车配件_商用车配件_机油_汽修_辅料" />
    <meta name="description" content="小店是国内最专业的汽车零部件及相关用品的在线采购网站。在线销售的产品齐全：机油、火花塞、电瓶、刹车片、滤清器、灯泡、养护品、雨刮片、发动机件、底盘件、车身件、内饰件、等全车件。品牌产品，诚信经营。" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css"> 
    <link rel="stylesheet" href="/Themes/Basic/css/basic.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link rel="stylesheet" href="/Themes/Basic/css/home.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link rel="stylesheet" href="/Themes/Basic/css/cssadd.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link href="/themes/basic/css/cityselect.css" rel="stylesheet" />
    <link rel="icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/Themes/Basic/js/amazeui.min.js"></script>
    <script src="/Themes/Basic/js/handlebars.min.js"></script>
    <script src="/Themes/Basic/js/amazeui.widgets.helper.js"></script>
    <script src="/Themes/Basic/js/Mobileindex.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/basic/js/common.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/common/js/jsglobalenum.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script>
        $(function () {
            $(".am-form-group").click(function () {
                window.location.href = "/Home/Search";
            })  
        //document.onkeydown = function (event) {
        //    var e = event || window.event || arguments.callee.caller.arguments[0];
        //    if (e && e.keyCode == 13) {
        //        var isFocus = $("#txtkey").is(":focus");
        //        if (true == isFocus) {
        //            FunSearchByKey(1);
        //        }
        //    }
        //};
        NewCheckIsLogin();
    })
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/themes/basic/js/cityselect.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/basic/js/zepto.min.js"></script>
    <script src="/themes/basic/js/jquery.marquee.js"></script>
    
</head>
<body class="am-with-fixed-header am-with-fixed-navbar" > 
    <div style="display:none;"> 
         <span id="spanjishisong">@ViewBag.JiShiSong</span> 
    <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
     <input name="title" value="小店-致力于提供优质厂家直供的产品和服务" />
        <input name="imgUrl" value="http://m.xindahv.com/Themes/Basic/img/ahamatitle.jpg" />
        <input name="desc" value="小店是致力于提供优质厂家直供的产品和服务。" />
    </div>  <div class="home" id="homewrapper">
        <!----header开始----->
        <header data-am-widget="header" class="am-header am-header-fixed home-header am-no-layout" style="background-color:red;">
            <div class="am-header-left am-header-nav" style="color:#fff;">
                良优生活
            </div>
            @*<div class="am-header-title">
                 <div class="am-form-group am-form-icon" style="width: 100%;">
                        <i class="am-icon-search" style="color: #999"></i>
                        <input type="text" id="txtSearchkey" class="am-form-field am-round" placeholder="搜索车型/品牌/OEM编号">
                  </div> 
            </div>*@
            <div class="am-header-right am-header-nav home-login">
                <a href="/Member/Home">
                    @*<i class="am-icon am-icon-user"></i>*@
                    <span class="am-header-nav-title"  id="aheadlogin">
                        登录
                    </span>
                </a>
            </div>
        </header>
        <!----header结束----->
        <!---slider开始----->
        <div data-am-widget="slider" class="am-slider am-slider-a1 home-slider" style="margin-top:44px;"  >
         小店承诺：100%正品，所有产品介绍客观公正，假一罚十
        </div>
        <!----slider结束---->
        <!-----产品分类开始---->
        @Html.Partial("controls/_HomeCmsNavClass")
        @Html.Partial("controls/_HomeProductBox")
    
    </div>
    <!--------nav footer开始--------->
    @Html.Partial("controls/_FootBanner")
    <div id="divjingxuanTemplet" style="display:none;">
        <div class="am-u-sm-6 home-main5-li">
            <a href="_ProductUrl_">
                <img src="{{ProductPicPath}}">
                <div class="home-mian5-wz">
                    <p>{{ProductName}}</p>
                    <a href="javascript:void(0)" style="color: red;">_ProductPrice_</a>
                </div>
            </a>
        </div>
    </div>
    @Html.Partial("controls/_BodyBefore")
    
</body>
</html>
<script>
    //绑定列表
    function BindProductJinPin(_pageindex)//显示当前人收货地址
    { 
        var urlstr = "/Common/GetProductFine";
        var param = { pageindex: _pageindex }
        $.ajax({
            url: urlstr,
            type: "POST",
            //async: false,
            dataType: 'json',
            data: param,
            success: function (json) {//客户端jquery预先定义好的callback函数,成功获取跨域服务器上的json数据后,会动态执行这个callback函数
                if (json != null && json != "") {
                    var objjson = eval(json); 
                    var _list = objjson.List;
                    var htmldiv = $("#divjingxuanTemplet").html();
                    if (_list != null && _list != undefined && _list.length > 0) {
                        for (var i = 0; i < _list.length; i++) {
                            var productid=""
                            $("#divproductjingxuan").append(strhtmldiv);
                        }
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Http status: " + xhr.status + " " + xhr.statusText + "\najaxOptions: " + ajaxOptions + "\nthrownError:" + thrownError + "\n" + xhr.responseText);
            },
            complete: function (data, status) {
            }
        });
    }
    $(function () {
        GetCJAmount();
        ScrollRegisterMembers();
        //setInterval('ScrollRegisterMembers()', 2000); 
        setInterval('GetCJAmount()', 2000);
        $(document).ready(function () {
            $('.deal-scroll').kxbdMarquee({
                direction: 'left',
                eventA: 'mouseenter',
                eventB: 'mouseleave'
            });
        });
    })
</script>
