
@{

    IList<SuperMarket.Model.ClassesFoundEntity> entitylist = ViewBag.entitylist;
}
<div class="list">
    <div class="list-top">
        <div class="list-top-main"> 
            <span>品牌管理</span>
        </div>
    </div>
    <!------top结束------>
    <!------搜索开始------>
    <div class="list-search"> 
        <div class="list-search-main"> 
            <div class="list-search-wrap">
                <label class="fl">名称：</label>
                <div class="list-search-input">
                    <input type="text">
                </div>
            </div> 
        </div>
        <div class="clear"></div>
        <div class="list-search-button">
            <button class="fr" onclick="Fun_SearchList()">搜索</button>
        </div>
        <div class="list-search-button">
            <a class="fl" target="_blank" href="/SysBasicInfo/ClassEdit">添加</a>
        </div>
    </div>
    <!------搜索结束------>
    <!-----订单列表开始----->
    <div class="list-main"> 
        <div class="dispatch-list">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>分类名称</th>
                    <th>全称</th>
                    <th>排序</th> 
                    <th>站点类别</th>
                    <th>上级类别</th>
                    <th>操作</th> 
                </tr>
                @{
                    if (entitylist != null && entitylist.Count > 0)
                    {
                        foreach (SuperMarket.Model.ClassesFoundEntity entity in entitylist)
                        {
                            <tr enid="@entity.Id">
                                <td>@(entity.Name)</td>
                                <td>@(entity.FullName)</td>
                                <td>@(entity.Sort)</td> 
                                <td>@(entity.SiteId)</td>
                                <td>@(entity.ParentId)</td> 
                                <td>  
                                    <a href="/SysBasicInfo/ClassEdit?id=@entity.Id&op=update" target="_blank">修改</a>
                                    @if (entity.IsEnd == 0)
                                    {
                                        <a href="/SysBasicInfo/ClassEdit?pid=@entity.Id&op=add" target="_blank">添加子分类</a>
                                    } 
                                    @if (entity.IsEnd == 0)
                                    {
                                        <a href="/Class/ClassManage?parentid=@entity.Id&level=@(entity.ClassLevel+1)" target="_blank">管理子分类</a>
                                    } <a href="/Class/ClassBrandManage?classid=@entity.Id">品牌管理</a> 
                                  <a href="/Class/PropertiseManage?classid=@entity.Id">属性管理</a> 

                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div> 
        <div class="list-page">
            <ul>
                @Html.Raw(ViewBag.PageStr)
            </ul>
        </div>
        </div>
</div>
<script> 
</script>