@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
    ViewBag.Title = "发布产品";
}
@section Head{

    <link href="/js/ueditor/themes/default/css/editorext.css" rel="stylesheet" />
    <link href="/css/amazonmenu.css" rel="stylesheet" />  
    <script type="text/javascript" src="/js/common/commoncontrolbind.js"></script>

}
@{SuperMarket.Model.VWProductEntity _styleentity = ViewBag.Product;}

<div style="display: none;">

    <input type="text" id="txtMemId" value="@ViewBag.MemId" /> 
    <input type="text" id="txtSiteId" value="@ViewBag.SiteId" />
    <input type="text" id="txtPropertiesClassId" value="@ViewBag.RedirectClassId" />  
    <input type="text" id="txtProductId" value="@Request["productid"]" />
    <input type="text" id="txtBrandId" value="@ViewBag.BrandId" />
    <input type="text" id="txtPicServerRootUrl" value="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl)" />
    
</div>

<style>

    input  {
        width:200px;padding:5px
    }


</style>

<div class="tip-title">产品管理<span style="color:#f4934e">></span>发布产品</div>
<div class="product-main">
    <div class="product-main-search">
        <div class="product-main-search-l">产品类别： 
            <input type="hidden" id="txtClassId" value="@_styleentity.ClassId" />
            <input type="hidden" id="txtClassId1" value="@_styleentity.ClassId1" />
            <input type="hidden" id="txtClassId2" value="@_styleentity.ClassId2" />
            <input type="hidden" id="txtClassId3" value="@_styleentity.ClassId3" />
        </div>
        <div class="product-main-search-r" style="margin-left:18px">
            <select id="selClassId1" class="selclass" targettxt="txtClassId1" level="1" onchange="funchangeclass(this)" ><option>---请选择--</option><option>sss</option></select>
            <select id="selClassId2"  class="selclass" targettxt="txtClassId2" level="2" style="display:none;"><option>ss11s</option></select>
            <select  id="selClassId3"  class="selclass" targettxt="txtClassId3"  level="3" style="display:none;"><option>ss11s</option></select>
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">品牌：</div>
        <div class="product-main-search-r" style="margin-left:18px"> 
            <input type="text" id="txtBrandName" value="@_styleentity.BrandName"  />
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">产品标题：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtAdTitle" value="@_styleentity.AdTitle"  />
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">标题说明：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtTitle" value="@_styleentity.Title"/>
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l"> 产品编码：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtCode" value="@_styleentity.Code"/>
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l"> 产品名称：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtName" value="@_styleentity.Name" />
        </div>
    </div>
    

    @*<div class="product-main-search">
        <div class="product-main-search-l">市场价：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtMarketPrice" value="@_styleentity.MarketPrice" style="float:left; " />
        </div>

    </div>
    <div class="product-main-search" >
        <div class="product-main-search-l">零售价：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtPrice" value="@_styleentity.Price" style="float:left; " />
        </div>
    </div>
    <div  > 
        <div class="product-main-search">
            <div class="product-main-search-l">进货价：</div>
            <div class="product-main-search-r">
                <input type="text" id="txtTradePrice" value="@_styleentity.TradePrice" style="float:left; " />
            </div>
        </div>
    </div>*@
    <div class="product-main-search">
        <div class="product-main-search-l">单位：</div>
        <div class="product-main-search-r">
            <select id="selUnit" >
                @{
                    IList<SuperMarket.Core.Enums.EnumUnitEntity> listu = SuperMarket.Core.Enums.EnumShow.Instance.GetListByEnum<SuperMarket.Model.UnitEnum>();
                    foreach (SuperMarket.Core.Enums.EnumUnitEntity entityu in listu)
                    {
                        <option value="@entityu.EnumValue" @(_styleentity.Unit == entityu.EnumValue ? "selected" : "")>@entityu.EnumDes</option>
                    }
                }
            </select>  
            <input type="hidden" id="hidUnit" value="@_styleentity.Unit" style="float:left; " />
        </div>
    </div> 
    <div class="product-main-search">
        <div class="product-main-search-l">毛重：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtGrossWeight" value="@_styleentity.GrossWeight" style="float:left; " />&nbsp;KG
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">产地：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtPlaceOrigin" value="@_styleentity.PlaceOrigin" style="float:left; " />
        </div>
    </div> 

    <div class="product-main-search" id="divSpec1">
        <div class="product-main-search-l"><span style="color:#f00">*</span>选择项1：</div>
        <div class="product-main-search-r">
            <input id="txtSpec1" value="@_styleentity.Spec1" />
        </div>
    </div>
    <div class="product-main-search" id="divSpec2">
        <div class="product-main-search-l"><span style="color:#f00">*</span>选择项2：</div>
        <div class="product-main-search-r">
            <input id="txtSpec2" value="@_styleentity.Spec2" />
        </div>
    </div>
    <div class="product-footer">
        <div class="product-footer-l" style="cursor:pointer;" onclick="ProductSubmit()">确认   </div>
    </div> 
</div>

<script type="text/javascript">

    var ue = null;
    $(function () { 
        $("#selUnit").change(function () {
            $("#hidUnit").val($(this).val());
        })
        if ($("#hidUnit").val() != "" || $("#hidUnit").val()!= "0")
        { 
            $("#selUnit").val($("#hidUnit").val());
        }  
        for (var level = 1; level <= 3; level++) {
            var _pid = 0;
            if (level > 1) {
                var plevel = level - 1;
                _pid = $("#txtClassId" + plevel).val();
            } 
            if ($("#txtClassId" + level) != null && $("#txtClassId" + level) != undefined && $("#txtClassId" + level).val() != "") {
                BindClassSelected($("#txtSiteId").val(), _pid, level, $("#txtClassId" + level).val());
            }
           
        }
        $(".selclass").change(function () {
            var level = parseInt($(this).attr("level"));
            level=level+1;
            BindClassSelected($("#txtSiteId").val(), $(this).val(), level, 0);
            funchangeclass(this);
        })
    });

    function ProductSubmit() {

        var _memId = $("#txtMemId").val(); 
        var _classId = $("#txtClassId").val();
        var _classId1= $("#txtClassId1").val();
        var _classId2 = $("#txtClassId2").val();
        var _classId3 = $("#txtClassId3").val();
         
        var _siteid = $("#txtSiteId").val();
        var _brandname = $("#txtBrandName").val();
        var _productId = $("#txtProductId").val();
        var _Code = $("#txtCode").val();
        var _adTitle = $("#txtAdTitle").val();
        var _name = $("#txtName").val();
        var _grossweight = $("#txtGrossWeight").val();
        var _placeorigin = $("#txtPlaceOrigin").val();
        var _title = $("#txtTitle").val();  
        var _spec1 = $("#txtSpec1").val();
        var _spec2 = $("#txtSpec2").val(); 
        var _picUrl = "";
        var _unit = $("#hidUnit").val();   
        var _num = $("#txtNum").val();
        var _price = $("#txtPrice").val();
        var _tradePrice = $("#txtTradePrice").val();
        var _marketPrice = $("#txtMarketPrice").val();  
        var _siteid = $("#txtSiteId").val();
   
        $.post("/Store/ProductSubmit", {
            memid: _memId, Code: _Code ,productId: _productId,
            classId: _classId, classId1: _classId1, classId2: _classId2, classId3: _classId3, adTitle: _adTitle, title: _title, brandname: _brandname,
            num: _num, siteid:_siteid,
            price: _price, tradePrice: _tradePrice, marketPrice: _marketPrice,   
            placeorigin: _placeorigin, name: _name, grossweight: _grossweight, spec1: _spec1, spec2: _spec2,
            unit: _unit
        }, function (data) {
            var _returncode = (-data);
            if (_returncode == _TheArray[0]) {
                alert(_TheArray[_returncode]);
                window.location.href = "/Store/ProductList?siteid=";
            }
            else {
                alert("产品已存在!");
                return false;
            }

        });
    }
     

    function BrandSelectFun(brandobj) {
        $(".selclassproperty option:not(:first)").each(function () { 
            if ($(this).attr("brandid") != null && $(this).attr("brandid") != "" && $(this).attr("brandid") != "0" && $(this).attr("brandid") != $(brandobj).val() && $(brandobj).val() != "" && $(brandobj).val() != "0") {
                $(this).hide();
            }
            else { 
                $(this).show();
            }
        });
    }



    //绑定属性列表
    function BindProperties(_siteid, _pid) {
        $.post("/Common/GetPropertyBySiteId", { siteid: _siteid, pid: _pid }, function (data) {
            var jsonobj = eval(data);
            if (jsonobj != null && jsonobj != undefined && jsonobj.length > 0) {
                if (_pid == "" || _pid == 0) {
                    $("#divClassProperty").show();
                    var divattributeobj = $("#divClassProperty").children(":last"); 
                    for (var i = 0; i < jsonobj.length; i++) { 
                        var str = "<div class='Attributes'><span>" + jsonobj[i].Name + "</span><input id='txt" + jsonobj[i].Code + "' class='txtproperty' code='" + jsonobj[i].Code + "' /><select class='selclassproperty' code='" + jsonobj[i].Code + "' onchange='funchangeproperty(this)'   isend='" + jsonobj[i].IsEnd + "'   id='selPropertyId" + jsonobj[i].Id + "'><option value='0'>--请选择--</option></select></div>";
                            $(divattributeobj).append(str);
                          
                    }
                    $(".selclassproperty").each(function () {
                        var objid = $(this).attr("objid");
                        $(this).bind("change", function () {
                            if ($(this).attr("isend") == "0") {
                                BindProperties(_siteid, $("#sel" + objid).val());
                            }
                        });
                        BindPropertiesValue($(this), $(this).attr("propertyId"), 0);
                    });
                }
                else {
                    var divattributeobj = $("#divClassProperty").children(":last").children(":last");
                    for (var i = 0; i < jsonobj.length; i++) {
                        var str = "<input id='txt" + jsonobj[i].Code + "' class='txtproperty' code='" + jsonobj[i].Code + "' /><select class='selclassproperty'   onchange='funchangeproperty(this)'  isend='" + jsonobj[i].IsEnd + "' code='" + jsonobj[i].Code + "'  id='selPropertyId" + jsonobj[i].Id + "'><option value=''>--请选择--</option></select>";
                        $(divattributeobj).append(str);
                    }
                    $(divattributeobj).find(".selclassproperty:last").bind("change", function () {
                        $("#hid" + objid).val($("#sel" + objid).val());
                        if ($(this).attr("isend") == "0") {
                            BindProperties(_siteid, $("#sel" + objid).val());
                        }
                    });
                    BindPropertiesValue($(divattributeobj).find(".selclassproperty:last"), $(divattributeobj).find(".selclassproperty:last").attr("propertyId"), 0);

                }
            }
        });
    }

    //绑定属性值
    function BindPropertiesValue(obj, _propertyId, _pid) {

        var param = { propertyId: _propertyId, pid: _pid };
        BindDropParent(obj, "/Common/GetPropertyValueList", param,"");
    }

    function BindClassSelected(_siteid, _pid, _level,selectedvalue) {
         
        var selobj = $(".selclass[level=" + _level + "]");
        for (var i = 3; i > 1 && i > _level; i--)
        {
            $(".selclass[level=" + i + "]").hide();
        }
        $(selobj).empty();
        $.post("/Common/GetClassBySiteId", { siteid: _siteid, pid: _pid }, function (data) {
            var jsonobj = eval(data);
            if (jsonobj != null && jsonobj != undefined && jsonobj.length > 0) {
                var option = "<option  value=0>--请选择--</option>";
                $(selobj).append(option);
                for (var i = 0; i < jsonobj.length; i++) {
                    var option =  "<option isend="+jsonobj[i].IsEnd+" value="+jsonobj[i].Id+">"+jsonobj[i].Name+"</option>" ;
                    $(selobj).append(option);
                }
                $(selobj).val(selectedvalue);
                //funchangeclass(selobj);  
                $(selobj).show();
            }
        });
    }
    //选择类别
    function funchangeclass(selobj)
    {
         
        var level = $(selobj).attr("level");
        var levelnext = level + 1;
        var txt = $(selobj).attr("targettxt");
        $("#" + txt).val($(selobj).val());
        if ($(selobj).find("option:selected").attr("isend") == 1)
        {
            $("#txtClassId").val($(selobj).val()); 
        }
        if ($(".selclass[level=" + levelnext + "]").length > 0)
        {
            if ($(selobj).find("option:selected").attr("isend") == 0) {
                $(".selclass[level=" + levelnext + "]").show();
            }
            else {
                $(".selclass[level=" + levelnext + "]").hide(); 
            } 
        } 
    }

    function funchangeproperty(selobj)
    {
        var code=$(selobj).attr("code");
        if($(selobj).val()=="")
        {
            $(".txtproperty[code="+code+"]").val();
        }
    }


</script>