
@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
    ViewBag.Title = "已发布产品";
    IList<SuperMarket.Model.ProductEntity> entitylist = ViewBag.entitylist;
}

<style type="text/css">
    .admin_detail a:link {
        color: blue;
    }

    .admin_detail a:hover {
        color: red;
    }

    .admin_detail a:visited {
        color: blue;
    }

    .main {
        width: 100%;
    }

    .Page {
        margin-right: 12px;
    }

    #selOrderStatus, #selOrderTerm {
        width: 200px;
        height: 32px;
        margin-top: 9px;
        margin-left: 12px;
    }

    button {
        width: 100px;
        height: 32px;
        margin-left: 20px;
    }

    .title_main > input {
        width: 200px;
        height: 32px;
    }

    .add_admin > span {
        width: 100px;
        margin-left: -100px;
    }

        .add_admin > span > a {
            color: blue;
        }

    .admin_title > ul > li {
        width: 20%;
    }

    .admin_detail > ul > li {
        width: 20%;
    }

    .li_iterm > span {
    }
</style>


<div class="main">

    <div class="title_main">
        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>产品管理</span></div>
        <div class="add_admin">
            <span><a href="javascript:void(0)" onclick="FunAddProduct(this)" styleId="@ViewBag.StyleId"><img src="~/Themes/Img/Add.png" /></a></span>
        </div>
    </div>

    <div class="title_main">

        按产品名称查询:
        <input value="@Request["productName"]" id="txtProductName" />

        <button id="btnSearchOrderList" onclick="FunSearchProduct()">查询</button>

        <div class="add_admin">

        </div>

    </div>

    <div class="detail_main">


        <div class="admin_title">
            <ul>
                <li>产品名称</li>
                <li>产品标题</li>
                <li style="width:10%">是否支持批发</li>
                <li style="width:10%">是否支持零售</li>
                <li style="width:40%">操作</li>
            </ul>
        </div>




        @{
            if (entitylist != null && entitylist.Count > 0)
            {
                foreach (SuperMarket.Model.ProductEntity entity in entitylist)
                {
                    <div class="admin_detail">
                        <ul>
                            <li class="li_iterm">@entity.AdTitle </li>
                            <li class="li_iterm">@entity.Title</li>
                            <li class="li_iterm" style="width:10%">@(entity.Wholesale==1?"支持批发":"不支持批发")</li>
                            <li class="li_iterm" style="width:10%">@(entity.Retail==1? "支持零售" : "不支持零售")</li>
                            <li class="li_iterm" style="width:40%">
                                <a href="/Store/ProductEdit?productid=@entity.Id&styleid=@entity.StyleId">编辑</a>&nbsp;&nbsp;&nbsp;
                                @if (entity.Status==1)
                                {
                                    <a href="javascipt:void(0)" onclick="FunChangeProductStatus(@entity.Id,0)">下架</a>
                                }
                                else
                                {
                                    <a href="javascipt:void(0)" onclick="FunChangeProductStatus(@entity.Id,1)" style="color:red">上架</a>
                                }
                                &nbsp;&nbsp;&nbsp;
                                <a href="/Store/ReleaseProduct?pid=@entity.Id&flag=@ViewBag.Flag" target="_blank">发布产品</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/Store/ProductCarTypeManage?pid=@entity.Id" target="_blank">适用车型</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/Store/ProductPicsEdit?&productid=@entity.Id&styleid=@entity.StyleId" target="_blank">添加产品图片</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/Store/ProductDetailPicsEdit?&productid=@entity.Id" target="_blank">添加产品详情图片</a>
                            </li>
                        </ul>
                    </div>
                }
                <div class="Page">
                    <ul> @Html.Raw(ViewBag.PageStr)</ul>
                </div>
            }
            else
            {
                <div class="admin_detail">
                    没有找到该记录!!!
                </div>
            }
        }

    </div>

</div>

<script>

    function FunAddProduct(obj) {

        debugger

        var _styleId = $(obj).attr("styleId");
 
        if (_styleId == null || _styleId == "" || _styleId == undefined || _styleId == 0) {
            window.location.href = "/Store/PStyleList";
        }
        else {
            window.location.href = "/Store/ProductEdit?StyleId=" + _styleId;
        }
    }

    function FunSearchProduct() {
        debugger
        var _productName = $("#txtProductName").val();
        window.location.href = "/Store/ProductList?productName=" + _productName;
    }

    function FunChangeProductStatus(id,status) {
        $.post("/Store/ChangeProductStatus", { id: id ,status:status}, function (data) {
            if (data > 0) {
                alert("操作成功!");
            }
        })
    }


    function allCheck() {
        var obj = document.getElementsByTagName("input");
        if (document.getElementById("all").checked == true) {
            for (var i = 0; i < obj.length; i++) {
                obj[i].checked = true;
            }
        } else {
            for (var i = 0; i < obj.length; i++) {
                obj[i].checked = false;
            }
        }
    }

    function checkT_F() {
        var obj = document.getElementsByTagName("input");
        var j = 0;
        for (var i = 0; i < obj.length; i++) {
            if (obj[i].id != 'all') {    //如果不是复选框
                if (obj[i].checked == true) {    //并且为选中
                    j++;
                }
            }
        }
        if (j == (obj.length - 1)) {    //如果复选框选中的数量等于（复选框总和减去全选这个选框的数量）
            document.getElementById("all").checked = true; //全选被激活
        } else {
            document.getElementById("all").checked = false;
        }
    }

    function underCarriage() {
        debugger;
        var obj = document.getElementsByTagName("input");
        for (var i = obj.length - 1; i > 0; i--) {
            if (obj[i].checked == true) {
                obj[i].parentElement.parentElement.parentElement.remove();
            }
        }
    }

</script>
