@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
    SuperMarket.Model.VWProductDetailEntity detailEntity = ViewBag.DetailEntity;
}
<style>

    input[type="text"]{
        width:300px;
    }
    input[type="radio"]{
        float:left;margin-top:0px
    }

</style>
 
<input id="hidProductId" value="@ViewBag.ProductId" type="hidden" />
<input id="hidProductDetailId" value="@detailEntity.Id" type="hidden"/>
<div class="tip-title">产品管理<span style="color:#f4934e">></span>@(detailEntity.Id==0? "产品发布":"产品修改")</div>

<div class="product-main"> 
    <div class="product-main-search"  >
        <div class="product-main-search-l"> 产品标题：</div>
        <div class="product-main-search-r">@(detailEntity.ProductAdTitle) 
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">上架/下架：</div>
        <div class="product-main-search-r">
            <div style="float:left;margin-left:8px">上架:</div>
            <input type="radio" name="radStatus" @(detailEntity.Status == 1  ? "checked=checked" : "")  value="1"/>
            <div style="float:left;margin-left:8px">下架:</div>
            <input type="radio" name="radStatus" @(detailEntity.Status == 0 ? "checked=checked" : "")  value="0"/>
        </div>
    </div>

    <div class="product-main-search" id="divStockNum" >
        <div class="product-main-search-l"> 库存数量：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtStockNum" value="@(detailEntity.StockNum.ToString())"/>
        </div>
    </div>

    <div class="product-main-search">
        <div class="product-main-search-l"> 已售出数量：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtSaleNum" value="@(detailEntity.SaleNum.ToString())" />
        </div>
    </div>

    <div class="product-main-search">
        <div class="product-main-search-l"> 批发价：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtTradePrice"  value="@(detailEntity.TradePrice.ToString())"/>
        </div>
    </div>
    <div class="product-main-search">
        <div class="product-main-search-l">零售价：</div>
        <div class="product-main-search-r">
            <input type="text" id="txtPrice" value="@(detailEntity.Price.ToString())" />
        </div>
    </div>

    <div class="product-footer">
        <div class="product-footer-l" style="cursor:pointer;margin-left:100px" onclick="ProductSubmit()">确认</div>
    </div>

</div>

<script type="text/javascript">
    function FunSelectProductType(obj)
    {
        var producttype = $(obj).val();
        var pid = $("#hidProductId").val();
        var pdid = $("#hidProductDetailId").val();
        location.href = "/Store/ReleaseProduct?pid=" + pid + "&ptype=" + producttype;
    }
    function ProductSubmit() {

      
        var _productId = $("#hidProductId").val();
        var _productDetailId = $("#hidProductDetailId").val(); 
        var _status = $("input[type=radio][name=radStatus]:checked").val();
        var _saleNum = $("#txtSaleNum").val();//销售数量
        var _tradePrice = $("#txtTradePrice").val();//批发价
        var _price = $("#txtPrice").val();//零售价

        var _stockNum = $("#txtStockNum").val();//库存数量 
        var strmsg = "确认上架商品？请确保信息正确";
        if (_status == "0")
        {
            strmsg = "确认下架商品？请确保信息正确";
        }
        if (confirm(strmsg))
        {
            $.post("/Store/ProductDetailEdit", {
                productId: _productId, productDetailId: _productDetailId, status: _status, saleNum: _saleNum, tradePrice: _tradePrice,price: _price, stockNum: _stockNum
            }, function (data) {
                if (data > 0) {
                    alert("成功!");
                    
                        window.location.href = "/Store/ProductList?siteid=2";
                   
                } else {
                    alert("该产品已存在!");
                }
            })
        }
       

        
        
    }

</script>