@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
    ViewBag.Title = "订单管理";
    IList<SuperMarket.Model.OrderCreateLogEntity>  _entitylist = ViewBag.CreateList;
}

<style type="text/css">
    .admin_detail a:link {
        color: blue;
    }

    .admin_detail a:hover {
        color: red;
    }

    .admin_detail a:visited {
        color: blue;
    }

    .main {
        width: 100%;
    }

    .Page {
        margin-right: 12px;
    }

    #selOrderStatus, #selOrderTerm {
        width: 200px;
        height: 32px;
        margin-top: 9px;
        margin-left: 12px;
    }

    button {
        width: 100px;
        height: 32px;
        margin-left: 20px;
    }

    .title_main > input {
        width: 200px;
        height: 32px;
    }

    .add_admin > span {
        width: 100px;
        margin-left: -100px;
    }

        .add_admin > span > a {
            color: blue;
        }

    .admin_title > ul > li {
        width: 10%;
    }

    .admin_detail > ul > li {
        width: 10%;
    }
</style>


<input id="txtHidTerm" type="hidden" value="@Request["term"]">
<input id="txtHidStatus" type="hidden" value="@Request["status"]">

<div class="main">

    <div class="title_main">
        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>订单管理</span></div>
    </div>

    <div class="title_main"> 
        &nbsp;&nbsp;&nbsp;
        原订单号:
        <input value="" id="txtOrderCode" />
        &nbsp;&nbsp;&nbsp;
        临时订单号:
        <input value="" id="txtCartCode" /> 
        <button id="btnSearchOrderList" onclick='btnCreateOrder()'>生成</button>   
        &nbsp;&nbsp;&nbsp; 
    </div>
    <div class="title_main">
        &nbsp;&nbsp;&nbsp;
        原订单号:
        <input value="" id="txtOrderCodeSeach" /> 
        &nbsp;&nbsp;&nbsp;
        <button id="btnSearchOrderList" onclick='btnOrderSearch()'>查询</button>
    </div>

    <div class="detail_main">

        <div class="admin_title">
            <ul>
                <li style="width:10%">原订单号</li>
                <li>临时订单号</li>
                <li>生成后订单号</li>
                <li>生成时间</li>
                <li style="width:30%">操作</li>
            </ul>
        </div>


        @{
            if (_entitylist != null && _entitylist.Count > 0)
            {
                foreach (SuperMarket.Model.OrderCreateLogEntity entity in _entitylist)
                {
                    <div class="admin_detail">
                        <ul>

                            <li class="li_iterm" style="width:10%">
                                @entity.OldOrderCode
                            </li>
                            <li class="li_iterm">@entity.PreTempCode</li>
                            <li class="li_iterm">@entity.NewOrderCode</li>
                            <li class="li_iterm">@entity.CreateTime.ToString("yyyy-MM-dd")</li>
                            <li class="li_iterm" style="width:30%">

                            </li>

                        </ul>
                    </div>
                }

                <div class="Page">
                    <ul>
                        @Html.Raw(ViewBag.PageStr)
                    </ul>
                </div>
            }
            else
            {
                <div class="admin_detail">
                    没有找到该记录!
                </div>
            }
        }

    </div>

</div>
 <script>
     function btnCreateOrder()
     {
         debugger
         var oldordercode = $.trim($("#txtOrderCode").val());
         var cartcode = $.trim($("#txtCartCode").val());
         $.post("/Order/CreateOrderByCart", { ordercode: oldordercode, cartcode: cartcode }, function (data) {
             var _returncode = eval("(" + data + ")");
             var status = -_returncode.Status;
             if (status == _TheArray[0]) {
                 location.href=location.href;
             }
             else {
                 alert("生成订单失败!");
             }
         });
     }
     function btnOrderSearch(){
         
         var oldordercode = $.trim($("#txtOrderCodeSeach").val());
         location.href = "/Order/OrderCreate?oldcode=" + oldordercode;
     }
 </script>

