
@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
}

@{
    SuperMarket.Model.ClassesFoundEntity entity = ViewBag.entity;
    string op = ViewBag.op;
}


<style type="text/css">
    .main {
        width: 100%;
    }

    .Backstage_td1 {
        width: 10%;
    }

    .deserve {
        margin-left: 290px;
    }

    #selIsActive, #selIsHot, #selHasProduct, #selHasProperties {
        width: 250px;
        height: 26px;
        margin-top: 12px;
        margin-left: 8px;
    }

    .Backstage_td2 > input {
        width: 250px;
    }

    input:focus {
        border-color: #3385ff;
    }
</style>

<div class="main">

    <div class="title_main">

        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>分类@(op == "add" ? "添加" : "修改")</span></div>

    </div>


    <div class="detail_main">
        <ul>

            <li>
                <div class="Backstage_td1">分类编码：</div>
                <div class="Backstage_td2"><input id="txtCode" value="@(entity.Code)" /></div>
            </li>
            <li>
                <div class="Backstage_td1">分类名称：</div>
                <div class="Backstage_td2"><input id="txtName" value="@(entity.Name)" /></div>
            </li>
            <li>
                <div class="Backstage_td1">分类全名：</div>
                <div class="Backstage_td2"><input id="txtFullName" value="@(entity.FullName)" /></div>
            </li>
            <li>
                <div class="Backstage_td1">短拼：</div>
                <div class="Backstage_td2"><input id="txtPYShort" value="@(entity.PYShort)" /></div>
            </li>
            <li>
                <div class="Backstage_td1">全拼：</div>
                <div class="Backstage_td2"><input id="txtPYFull" value="@(entity.PYFull)" /></div>
            </li>

            <li>
                <div class="Backstage_td1">广告Id：</div>
                <div class="Backstage_td2"><input id="txtAdID" value="@(entity.AdId.ToString())" /></div>
            </li>

            <li>
                <div class="Backstage_td1">排序号：</div>
                <div class="Backstage_td2"><input id="txtSort" value="@(entity.Sort.ToString())" /></div>
            </li> 
            <li>
                <div class="Backstage_td1">是否有效：</div>
                <div class="Backstage_td2">
                    <select id="selIsActive">
                        <option value="-1">
                            -----------请选择是否有效-------------
                        </option>
                        <option value="1" @((entity.IsActive == 1 ? "selected=selected" : ""))>
                            --------------- 有效----------------
                        </option>
                        <option value="0" @((entity.IsActive == 0 ? "selected=selected" : ""))>
                            ----------------无效----------------
                        </option>
                    </select>
                </div>
            </li> 
            <li>
                <div class="Backstage_td1">是否叶子分类：</div>
                <div class="Backstage_td2">
                    <select id="selIsEnd"> 
                        <option value="1" @((entity.IsEnd == 1 ? "selected=selected" : ""))>
                           是
                        </option>
                        <option value="0" @((entity.IsEnd == 0 ? "selected=selected" : ""))>
                           否
                        </option>
                    </select>
                </div>
            </li>

            <li>
                <div class="Backstage_td1">是否可对应产品：</div>
                <div class="Backstage_td2">
                    <select id="selHasProduct">
                        <option value="-1">
                            -----------请选择是否可对应产品-------------
                        </option>
                        <option value="1" @((entity.HasProduct == 1 ? "selected=selected" : ""))>
                            ---------------- 是----------------
                        </option>
                        <option value="0" @((entity.HasProduct == 0 ? "selected=selected" : ""))>
                            -----------------否----------------
                        </option>
                    </select>
                </div>
            </li>

            <li id="liClassType">
                <div class="Backstage_td1">对应分类的类型：</div>
                <div class="Backstage_td2">
                    <select id="selClassType" name="">
                        <option>--清选择--</option>
                        @{
                            IList<SuperMarket.Core.Enums.EnumUnitEntity> listu = SuperMarket.Core.Enums.EnumShow.Instance.GetListByEnum<SuperMarket.Model.ClassTypeEnum>();
                            foreach(SuperMarket.Core.Enums.EnumUnitEntity entityu in listu)
                            {
                                <option value="@entityu.EnumValue" @(entity.ClassType == entityu.EnumValue?"selected":"")>@entityu.EnumDes</option>
                            }
                        }
                    </select>   
                </div>
            </li>

            <li>
                <div class="Backstage_td1">是否可确定属性：</div>
                <div class="Backstage_td2">
                    <select id="selHasProperties">
                        <option value="-1">
                            -----------请选择是否可确定属性-------------
                        </option>
                        <option value="1" @((entity.HasProperties == 1?"selected=selected":""))>
                            -----------------能----------------
                        </option>
                        <option value="0" @( (entity.HasProperties == 0?"selected=selected":""))>
                            ----------------不能----------------
                        </option>
                        <option value="2" @( (entity.HasProperties == 2?"selected=selected":""))>
                            ------------依据上级分类----------------
                        </option>
                    </select>
                </div>
            </li>

            <li id="liPropertiesClassId">
                <div class="Backstage_td1">属性依赖的父级Id：</div>
                <div class="Backstage_td2"><input id="txtPropertiesClassId" value="@(entity.PropertiesClassId.ToString())" /></div>
            </li>


        </ul>
    </div>

    @{
        if (op == "add")
        {
            <div class="deserve" style="cursor:pointer" id="ClassAdd">添加</div>
        }
        else
        {
            <div class="deserve" style="cursor:pointer" id="ClassUpdate">修改</div>
        }
    }


    <input value="@entity.Id" style="display:none" id="hidId" />
    <input value="@entity.ParentId" style="display:none" id="hidParentId" />
    <input value="@op" style="display:none" id="hidop" />
    <input value="@entity.HasProduct" style="display:none" id="hidHasProduct" />
    <input value="@entity.HasProperties" style="display:none" id="hidHasProperties" />

</div>

<script type="text/javascript">


    $(function () {
        $("#ClassAdd").bind("click", function () {
             
            var _pid = $("#hidParentId").val();
            var _code = $("#txtCode").val();
            var _name = $("#txtName").val();
            var _pyshort = $("#txtPYShort").val();
            var _pyfull = $("#txtPYFull").val();
            var _adid = $("#txtAdID").val();
            var _fullname = $("#txtFullName").val();

            var _sort = $("#txtSort").val();
            var _isactive = $("#selIsActive").val();
            var _isend = $("#selIsEnd").val();

            var _hasproduct = $("#selHasProduct").val(); 
            var _classtype = $("#selClassType").val();

            var _hasproperty = $("#selHasProperties").val();
            var _haspropertyclassid = $("#txtPropertiesClassId").val();

            $.post("/Class/ClassInfoAdd", {
                hasproduct: _hasproduct,  classtype: _classtype, hasproperty: _hasproperty, haspropertyclassid: _haspropertyclassid,
                pid: _pid,
                code: _code, name: _name, fullname: _fullname, pyshort: _pyshort, pyfull: _pyfull, sort: _sort, isactive: _isactive, isend: _isend, adid: _adid
            }, function (data) {
                if (data > 0) {
                    alert("添加成功!");
                    window.location.href = "/Class/ClassManage?parentid=" + _pid;
                } else {
                    alert("添加失败!");
                }
            })
        });


    });


    $(function () {
        $("#ClassUpdate").bind("click", function () {
             
            var _id = $("#hidId").val();
            var _code = $("#txtCode").val();
            var _name = $("#txtName").val();
            var _pyshort = $("#txtPYShort").val();
            var _pyfull = $("#txtPYFull").val();
            var _adid = $("#txtAdID").val();
            var _fullname = $("#txtFullName").val();

            var _pid = $("#hidParentId").val();
            var _sort = $("#txtSort").val();
            var _isactive = $("#selIsActive").val();
            var _ishot = $("#selIsHot").val();

            var _hasproduct = $("#selHasProduct").val();
            var _classtype = $("#selClassType").val();
            var _productnum = $("#txtProductNum").val();

            var _hasproperty = $("#selHasProperties").val();
            var _haspropertyclassid = $("#txtPropertiesClassId").val();

            $.post("/Class/ClassInfoUpdate", {
                hasproduct: _hasproduct, classtype:_classtype, productnum: _productnum, hasproperty: _hasproperty, haspropertyclassid: _haspropertyclassid,
                id: _id,
                code: _code, name: _name, fullname: _fullname, pyshort: _pyshort, pyfull: _pyfull, sort: _sort, isactive: _isactive, ishot: _ishot, adid: _adid
            }, function (data) {
                if (data > 0) {
                    alert("修改成功!");
                    window.location.href = "/Class/ClassManage?parentid=" + _pid;
                } else {
                    alert("修改失败!");
                }
            })
        });


    });

    //$(function () {

    //    $("#ClassUpdate").bind("click", function () {
    //        debugger

    //        var _id = $("#hidId").val();
    //        var _code = $("#txtCode").val();
    //        var _name = $("#txtName").val();
    //        var _title = $("#txtTitle").val();
    //        var _pyshort = $("#txtPYShort").val();
    //        var _pyfull = $("#txtPYFull").val();
    //        var _sort = $("#txtSort").val();
    //        var _isactive = $("#selIsActive").val();
    //        var _ishot = $("#selIsHot").val();
    //        var _manu = $("#txtManufacturer").val();

    //        $.post("/Brand/BrandInfoUpdate", { id: _id, code: _code, name: _name, title: _title, pyshort: _pyshort, pyfull: _pyfull, sort: _sort, isactive: _isactive, ishot: _ishot, manu: _manu }, function (data) {
    //            if (data > 0) {
    //                alert("修改成功!");
    //                window.location.href = "/Brand/BrandManage";
    //            } else {
    //                alert("修改失败!");
    //            }
    //        })
    //    });

    //});



    $(function () {
        if ($("#hidHasProduct").val() == 1) {
            $("#liProductNum").show();
        } else {
            $("#liProductNum").hide();
        }
    });


    $(function () {
        if ($("#hidHasProperties").val() == 2) {
            $("#liPropertiesClassId").show();
        } else {
            $("#liPropertiesClassId").hide();
        }
    });


    $(function () {
        $("#selHasProduct").bind("change", function () {
            if ($("#selHasProduct").val() == 1) {
                $("#liProductNum").show();
            } else {
                $("#liProductNum").hide();
            }
        })
    });


    $(function () {
        $("#selHasProperties").bind("change", function () {
            if ($("#selHasProperties").val() == 2) {
                $("#liPropertiesClassId").show();
            } else {
                $("#liPropertiesClassId").hide();
            }
        })
    });


</script>



