@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
    IList<SuperMarket.Model.CmsTempletEntity> _entitylist = ViewBag.EntityList;
}

<style type="text/css">
    .admin_detail a:link {
        color: blue;
    }

    .admin_detail a:hover {
        color: red;
    }

    .admin_detail a:visited {
        color: blue;
    }

    .main {
        width: 100%;
    }

    .Page {
        margin-right: 12px;
    }

    #selCmsType,#selIsActive,#selSortPrinciple {
        width: 150px;
        height: 32px;
        margin-top: 9px;
        margin-left: 12px;
    }

    button {
        width: 100px;
        height: 32px;
        margin-left: 20px;
    }

    .title_main > input {
        width: 200px;
        height: 32px;
    }

    .add_admin > span {
        width: 100px;
        margin-left: -100px;
    }

        .add_admin > span > a {
            color: blue;
        }

    .admin_title > ul > li {
        width: 20%;
    }

    .admin_detail > ul > li {
        width: 20%;
    }
</style>


<div class="main">

    <div class="title_main">
        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>模板管理</span></div>
        <div class="add_admin">
                <span><a href="/Cms/CmsAdd" target="_blank"><img src="~/Themes/Img/Add.png" />添加</a></span>
            </div>
    </div>

    <div class="title_main">

        名称:
        <input value="@Request["k"]" id="txtSearchKey" />

        &nbsp;&nbsp;&nbsp;

        分类：
        <select id="selCmsType">

            <option value="0">选择分类</option>
            <option value="1">首页导航</option>
            <option value="2">左侧导航</option>
            <option value="3">首页中部广告</option>
            <option value="4">分类导航</option>

        </select>

        有效性：
        <select id="selIsActive">

            <option value="0">是否有效</option>
            <option value="1">有效</option>
            <option value="2">无效</option>

        </select>

        排序规则：
        <select id="selSortPrinciple">

            <option value="">选择排序规则</option>
            <option value="CreateDate">按日期排序</option>
            <option value="IsActive">按有效性排序</option>

        </select>

        <button id="btnCmsTempletSearch" onclick="FunCmsTempletSearch()">查询</button>

        <div class="add_admin">

        </div>

    </div>

    <div id="detail_main">

        <div class="admin_title">
            <ul>
                <li>模板标题</li>
                <li>产品数量</li>
                <li>模板类型</li>
                <li>是否有效</li>
                <li>操作</li>
            </ul>
        </div>


        @{
            if (_entitylist != null && _entitylist.Count > 0)
            {

                foreach (SuperMarket.Model.CmsTempletEntity entity in _entitylist)
                {
                    var _cmstype = "";
                    switch (entity.CMSType)
                    {
                        case 1: _cmstype = "首页导航"; break;
                        case 2: _cmstype = "左侧导航"; break;
                        case 3: _cmstype = "首页中部广告"; break;
                        case 4: _cmstype = "分类导航"; break;
                    }

                    if (entity.IsActive == 1)
                    {
                        <div class="admin_detail">
                            <ul>
                                <li class="li_iterm">
                                    @entity.Title
                                </li>
                                <li class="li_iterm">@entity.ProductNum</li>
                                <li class="li_iterm">@_cmstype</li>
                                <li class="li_iterm">@(entity.IsActive==1?"有效":"无效")</li>
                                <li class="li_iterm">
                                    <a href="/Cms/CmsAdd?cmsid=@entity.Id">编辑模板</a>&nbsp;&nbsp;
                                    <a href="#" style="color:red" onclick="CmsTempletDisable(this)" value="@entity.Id">失效</a>
                                </li>

                            </ul>
                        </div>
                    }

                    else if (entity.IsActive == 2)
                    {
                        <div class="admin_detail">
                            <ul>
                                <li class="li_iterm">
                                    @entity.Title
                                </li>
                                <li class="li_iterm">@entity.ProductNum</li>
                                <li class="li_iterm">@_cmstype</li>
                                <li class="li_iterm">@(entity.IsActive==1?"有效":"无效")</li>
                                <li class="li_iterm">
                                    <a href="/Cms/CmsAdd?cmsid=@entity.Id">编辑模板</a>&nbsp;&nbsp;
                                    <a href="#" style="color:blue" onclick="CmsTempletEnable(this)" value="@entity.Id">生效</a>
                                </li>

                            </ul>
                        </div>
                    }

                }
                <div class="Page">
                    <ul>
                        @Html.Raw(ViewBag.PageStr)
                    </ul>
                </div>
            }
            else
            {
                <div class="admin_detail">
                    没有找到记录
                </div>
            }
        }

    </div>
    <div style="display:none">
        <input id="hidSearchKey" value="@Request["k"]" />
        <input id="hidCmsType" value="@Request["t"]" />
        <input id="hidIsActive" value="@Request["s"]" />
        <input id="hidSortPrinciple" value="@Request["p"]" />
    </div>

</div>


<script>

    $(function () {

        $("body").bind("keydown", function (e) {
            if (e.which == 13) {
                $("#btnCmsTempletSearch").click();
            }
        });
    })


    $(function () {
        debugger;

        if ($("#hidSearchKey").val() != "") {
            $("#txtSearchKey").val($("#hidSearchKey").val());
        }

        if ($("#hidCmsType").val() == "") {
            $("#selCmsType").val("0")
        } else {
            $("#selCmsType").val($("#hidCmsType").val());
        }

        if ($("#hidIsActive").val() == "") {
            $("#selIsActive").val("0");
        } else {
            $("#selIsActive").val($("#hidIsActive").val());
        }

        $("#selSortPrinciple").val($("#hidSortPrinciple").val());

    })

    function CmsTempletDisable(obj) {
        debugger;

        var _result = confirm("是否使该选项失效?");
        if (_result == true) {
            var _templetId = $(obj).attr("value");
            $.post("/Cms/CmsTempletDisable", { templetId: _templetId }, function (data) {
                if (data > 0) {
                    alert("修改成功!");
                    $(obj).parent().parent().parent().remove();
                }
                else {
                    alert("修改失败!");
                }
            }, "json");
        }
        else {
            return;
        }

    }

    function CmsTempletEnable(obj) {
        debugger;

        var _result = confirm("是否使该选项生效?");
        if (_result == true) {
            var _templetId = $(obj).attr("value");
            $.post("/Cms/CmsTempletEnable", { templetId: _templetId }, function (data) {
                if (data > 0) {
                    alert("修改成功!");
                    $(obj).text("失效");
                    $(obj).css({ "color": "red" });
                    $(obj).attr("onclick", "CmsTempletDisable(this)");
                    $(obj).parent().prev().text("有效");
                }
                else {
                    alert("修改失败!");
                }
            }, "json");
        }
        else {
            return;
        }

    }

    function FunCmsTempletSearch() {
        debugger;
        var _searchkey = $("#txtSearchKey").val();
        var _type = $("#selCmsType option:selected").val();
        var _isactive = $("#selIsActive option:selected").val();
        var _principle = $("#selSortPrinciple option:selected").val();
        location.href = "/Cms/CmsManage?k=" + _searchkey + "&t=" + _type + "&s=" + _isactive + "&p=" + _principle;
    }

    function allCheck() {
        var obj = document.getElementsByTagName("input");
        if (document.getElementById("all").checked == true) {
            for (var i = 0; i < obj.length; i++) {
                obj[i].checked = true;
            }
        } else {
            for (var i = 0; i < obj.length; i++) {
                obj[i].checked = false;
            }
        }
    }

    function checkT_F() {
        var obj = document.getElementsByTagName("input");
        var j = 0;
        for (var i = 0; i < obj.length; i++) {
            if (obj[i].id != 'all') {    //如果不是复选框
                if (obj[i].checked == true) {    //并且为选中
                    j++;
                }
            }
        }
        if (j == (obj.length - 1)) {    //如果复选框选中的数量等于（复选框总和减去全选这个选框的数量）
            document.getElementById("all").checked = true; //全选被激活
        } else {
            document.getElementById("all").checked = false;
        }
    }

    function underCarriage() {
        debugger;
        var obj = document.getElementsByTagName("input");
        for (var i = obj.length - 1; i >= 0; i--) {
            if (obj[i].checked == true)
                obj[i].parentElement.parentElement.parentElement.remove();
        }
    }

</script>
