@{
    Layout = "~/Views/Main/_Member_Master.cshtml";

}

<style type="text/css">
    .admin_detail a:link {
        color: blue;
    }

    .admin_detail a:hover {
        color: red;
    }

    .admin_detail a:visited {
        color: blue;
    }

    .main {
        width: 100%;
    }

    .Page {
        margin-right: 12px;
    }

    #selBatchNo {
        width: 200px;
        height: 32px;
        margin-top: 9px;
        margin-left: 12px;
    }

    button {
        width: 100px;
        height: 32px;
        margin-left: 20px;
    }

    .title_main > input {
        width: 200px;
        height: 32px;
    }

    .add_admin > span {
        width: 100px;
        margin-left: -100px;
    }

        .add_admin > span > a {
            color: blue;
        }
</style>

<div class="main">

    <div class="title_main">
        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>支付管理</span></div>
    </div>
    <div class="title_main">   <select id="selStatus"><option value="0">-待处理-</option><option value="0">-审核通过-</option><option value="0">-审核拒绝-</option></select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    订单号:
    <input value="@(ViewBag.OrderCode!=0?ViewBag.OrderCode:"")" id="txtOrderCode" />
    <button onclick="btnSearch()">查询</button>
</div>

    <div id="detail_main">
        <div class="admin_title">
            <ul>
                <li style="width:15%;">订单号</li>
                <li style="width:20%;">线下支付说明</li>
                <li style="width:10%;">申请时间</li>
                <li style="width:10%;">应付金额</li>
                <li style="width:10%;">校验码</li>
                <li style="width:10%;">状态</li> 
                <li style="width:15%;">操作</li>
            </ul>
        </div>
        @{
            IList<SuperMarket.Model.VWOrderPayLineConfirm> list = ViewBag.List;
            if (list != null && list.Count > 0)
            {
                foreach (SuperMarket.Model.VWOrderPayLineConfirm entity in list)
                {
                    <div class="admin_detail">
                        <ul>
                            <li class="li_iterm" style="width:15%;" >@entity.OrderCode</li>
                            <li class="li_iterm" style="width:20%;" >@entity.Reason</li>
                            <li class="li_iterm" style="width:10%;" >@entity.CreateTime</li>
                            <li class="li_iterm" style="width:10%;" >@entity.ActPrice</li>
                            <li class="li_iterm" style="width:10%;" >@entity.PayConfirmCode</li>
                            <li class="li_iterm" style="width:10%;" >@entity.StatusName</li>

                            @if (entity.Status == (int)SuperMarket.Model.PayLineConfirm.Default)
                            {
                                <li    class="li_iterm  " style="width:15%;" > 
                                    <a href="javascript:void(0);PayLineConfirm(@entity.OrderCode,@entity.Id)">确认收款</a> 
                                </li> 
                            }

                        </ul>
                    </div>
                }
                <div class="Page">
                    <div>
                        @Html.Raw(ViewBag.PageStr)
                    </div>
                </div>
            }
            else
            {
                <div class="product-main-detail">
                    没有找到该记录!
                </div>
            }
        }

    </div>
      
</div>



<script>

    
    function PayLineConfirm(ordercode,id) {
         
         
        $.post("/Finance/PayLineConfirm", { ordercode: ordercode, id: id }, function (data) {
                var _returncode = eval("(" + data + ")");
                var status = -_returncode.Status;
                if (status == _TheArray[0]) { 
                    alert("成功!");
                    return false;
                }
                else {
                    alert(_TheArray[status]); 
                    return false;
                } 
        })
    }

    function btnSearch() {
        var _bacthno = $("#selBatchNo option:selected").val();
        var _ordercode = $("#txtOrderCode").val();
        window.location.href = "/Finance/RecivedConfirm/?bno=" + _bacthno + "&code=" + _ordercode;
    }

    function btnRefundDetail() {
        var batchno = $("#selBatchNo").val();
        window.location.href = "/Finance/RefundDetail?bno=" + batchno;
    }

</script>




