@{
    Layout = "~/Views/Main/_Member_Master.cshtml";
}

<style type="text/css">
    .admin_detail a:link {
        color: blue;
    }

    .admin_detail a:hover {
        color: red;
    }

    .admin_detail a:visited {
        color: blue;
    }

    .main {
        width: 100%;
    }

    .Page {
        margin-right: 12px;
    }

    #selBatchNo {
        width: 200px;
        height: 32px;
        margin-top: 9px;
        margin-left: 12px;
    }

    button {
        width: 100px;
        height: 32px;
        margin-left: 20px;
    }

    .title_main > input {
        width: 200px;
        height: 32px;
    }

    .add_admin > span {
        width: 100px;
        margin-left: -100px;
    }

        .add_admin > span > a {
            color: blue;
        }
</style>

<div class="main">

    <div class="title_main">
        <img src="~/Themes/Img/home.png" />
        <div class="title_text">您当前的位置：后台管理系统><span>支付管理</span></div>
    </div>
    <div class="title_main">
        退款批次号:RefundManage
        <select id="selBatchNo">
            @{
                IList<string> batchl = ViewBag.BatchList;
                if (batchl != null && batchl.Count > 0)
                {

                    <option value="@ViewBag.RebackBatchNo" selected="selected">@ViewBag.RebackBatchNo</option>

                    foreach (string batch in batchl)
                    {

                        <option value="@batch">@batch</option>

                    }
                }
                else
                {
                    <option value="@ViewBag.RebackBatchNo" selected="selected">@ViewBag.RebackBatchNo</option>
                }
            }
        </select>
        <input type="hidden" id="hidBatchNo" value="@ViewBag.RebackBatchNo" />
        <button onclick="btnRefundDetail()">退款明细</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        订单号:
        <input value="@(ViewBag.OrderCode!=0?ViewBag.OrderCode:"")" id="txtOrderCode" />
        <button onclick="btnSearch()">查询</button>
    </div>

    <div id="detail_main">
        <div class="admin_title">
            <ul>
                <li style="width:15%;">订单号</li>
                <li style="width:20%;">交易编号</li>
                <li style="width:10%;">收货人</li>
                <li style="width:10%;">应付金额</li>
                <li style="width:10%;">付款金额</li>
                <li style="width:10%;">已退款金额</li>
                <li style="width:15%;">操作</li>
            </ul>
        </div>
        @{
            IList<SuperMarket.Model.VWPayAliResultEntity> list = ViewBag.List;
            if (list != null && list.Count > 0)
            {
                foreach (SuperMarket.Model.VWPayAliResultEntity entity in list)
                {
                    <div class="admin_detail">
                        <ul>
                            <li class="li_iterm" style="width:15%;" >@entity.Outtradeno</li>
                            <li class="li_iterm" style="width:20%;" >@entity.Tradeno</li>
                            <li class="li_iterm" style="width:10%;" >@entity.AccepterName</li>
                            <li class="li_iterm" style="width:10%;" >@entity.ActPrice</li>
                            <li class="li_iterm" style="width:10%;" >@entity.Totalfee</li>
                            <li class="li_iterm" style="width:10%;" id="@("liReback"+entity.Id)">@entity.ReBackFee</li>

                            @if (entity.OrderStatus != (int)SuperMarket.Model.OrderStatus.Close && entity.Totalfee > entity.ReBackFee)
                            {
                                <li id="@entity.Id" class="li_iterm check" style="width:15%;" code="@entity.Outtradeno" tradecode="@entity.Tradeno" totalfee="@entity.Totalfee" rebackfee="@entity.ReBackFee">

                                    <a href="javascript:void(0);">加入退款列表</a>

                                </li>

                            }

                        </ul>
                    </div>
                }
                <div class="Page">
                    <div>
                        @Html.Raw(ViewBag.PageStr)
                    </div>
                </div>
            }
            else
            {
                <div class="product-main-detail">
                    没有找到该记录!
                </div>
            }
        }

    </div>

    <!--修改弹出框-->
    <div class="detail_mainPop">
        <div class="cancel"><img src="~/Images/bg_thickbox.png" /></div>
        <table cellspacing="0">
            <tr>
                <th style="width:100px">待添加信息</th>
                <th>内容</th>

            </tr>
            <tr>
                <td><input type="text" value="退款批次号：" readonly="readonly" /></td>
                <td><input type="text" id="txtBatchNo" readonly="readonly" /></td>
            </tr>

            <tr>
                <td><input type="text" value="订单号：" readonly="readonly" /></td>
                <td><input type="text" id="txtOrderCode2" readonly="readonly" /></td>
            </tr>

            <tr>
                <td><input type="text" value="交易编号：" readonly="readonly" /></td>
                <td><input type="text" id="txtTradeCode" readonly="readonly" /></td>
            </tr>

            <tr>
                <td><input type="text" value="退款金额：" readonly="readonly" /></td>
                <td><input type="text" id="txtReturnFee" /></td>
            </tr>

            <tr>
                <td><input type="text" value="退款原因：" readonly="readonly" /></td>
                <td><input type="text" id="txtReturnReason" /></td>
            </tr>

        </table>
        <div class="Confirm_Check Confirm_Add" onclick="FunConfirmAdd()">确认添加</div>
    </div>

</div>



<script>

    $(function () {


        $(".cancel").bind("click", function () {

            $(".detail_mainPop,.all").hide();
        });

        $(".check").bind("click", function () {

            debugger

            $(".detail_mainPop,.all").show();
            $("#txtReturnFee").val("");
            $("#txtReturnReason").val("");

            var _batchno = $("#selBatchNo option:selected").val();
            var _ordercode = $(this).attr("code");
            var _tradecode = $(this).attr("tradecode");
            var _totalfee = $(this).attr("totalfee");
            var _rebackfee = $(this).attr("rebackfee");
            var _returnId = $(this).attr("id");


            $("#txtReturnFee").attr({ "placeholder": "最多可退款￥" +(_totalfee-_rebackfee) , "returnFeeLimit":(_totalfee-_rebackfee) , "returnId": _returnId });


            $("#txtBatchNo").val(_batchno);
            $("#txtOrderCode2").val(_ordercode);
            $("#txtTradeCode").val(_tradecode);

        });

    });


    function FunConfirmAdd() {

        var _batchno = $("#txtBatchNo").val();
        var _ordercode = $("#txtOrderCode2").val();
        var _tradecode = $("#txtTradeCode").val();
        var _rebackfee = $("#txtReturnFee").val();
        var _totalfee = $("#txtReturnFee").attr("returnFeeLimit");
        var _returnId = $("#txtReturnFee").attr("returnId");

        debugger
        if ((_rebackfee - _totalfee) > 0) {
            alert("退款超过限度!");
            $(".detail_mainPop,.all").hide();
            return;
        }

        var _returnreason = $("#txtReturnReason").val();

        $.post("/Finance/AddPayReback", {refundid:_returnId, batchno: _batchno, ordercode: _ordercode, tradecode: _tradecode, rebackfee: _rebackfee, returnreason: _returnreason }, function (data) {
                var _returncode = eval("(" + data + ")");
                var status = -_returncode.Status;
                if (status == _TheArray[0]) { 
                    alert("成功!");
                    $("#" + _returnId).attr("rebackfee", parseFloat($("#" + _returnId).attr("rebackfee")) + parseFloat(_rebackfee));//实时更新已退款金额
                    $('.detail_mainPop,.all').hide();
                    return false;
                }
                else {
                    alert(_TheArray[status]);
                    $(".detail_mainPop,.all").hide();
                    return false;
                } 
        })
    }

    function btnSearch() {
        var _bacthno = $("#selBatchNo option:selected").val();
        var _ordercode = $("#txtOrderCode").val();
        window.location.href = "/Finance/RefundManage/?bno=" + _bacthno + "&code=" + _ordercode;
    }

    function btnRefundDetail() {
        var batchno = $("#selBatchNo").val();
        window.location.href = "/Finance/RefundDetail?bno=" + batchno;
    }

</script>




