@{
    SuperMarket.Entities.VWMemberEntity _member = ViewBag.VWMember;
}
<div class="validate">
    <!----头部开始------>
    <header data-am-widget="header" class="am-header header">
        @Html.Partial("controls/_HeadLeftBanner")
        <h1 class="am-header-title">
            公司信息
        </h1>
    </header>
    <!----头部结束------>
    <!---注册开始---->
    <p id="perrormsg" style="text-indent: 1rem; margin-bottom: 0; padding:  0; color:red; margin-top: 0; display:none; "></p>
    <form>
        <!---------企业信息---------->
        <div class="validate-form" style="display:none;">
            <div class="validate-input">
                <span><span style="color:red">*</span>用户名:</span>
                <input type="text" id="txtUserName" @(string.IsNullOrEmpty(_member.MemCode) ? "" : "readonly") onblur="CheckLogin()" value="@(string.IsNullOrEmpty(_member.MemCode)?"zd"+_member.MobilePhone:_member.MemCode)" placeholder="请输入">
                <span style="color: red;" id="spanUserNamemsg"></span>
            </div> 
        </div>
        <div class="validate-form">
            <div class="validate-input">
                <span><span style="color:red">*</span>公司名称:</span>
                <input type="text" id="txtCompanyName" value="@_member.CompanyName" placeholder="请输入">
                <span style="color: red;" id="spanCompanyNamemsg"></span>
            </div>
            <div class="validate-input">
                <input type="hidden" id="hidProvince" value="@_member.CompanyProvinceId" />
                <input type="hidden" id="hidCity" value="@_member.CompanyCityId" />
                <span><span style="color:red">*</span>公司位置:</span>
                <select id="selProvince">
                    <option value="0">请选择</option>
                </select>
                <select id="selCity">
                    <option value="0">请选择</option>
                </select>
            </div>
            <div class="validate-input">
                <span><span style="color:red">*</span>公司详细地址:</span>
                <input type="text" id="txtCompanyAddress" value="@_member.CompanyAddress" placeholder="请输入">
            </div>
            <div class="validate-input-radio am-cf">
                <input id="hidCompanyType" type="hidden" value="@(_member.CompanyType==0?2:_member.CompanyType)" />
                <span class="am-fl"><span style="color:red">*</span>企业类型:</span>
                <div class="am-form-group am-fl">
                    <label class="am-radio-inline">
                        <input type="radio" value="1" @(_member.CompanyType==1?"checked":"") name="radCompanyType" >4S店
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="2"  @(_member.CompanyType==2?"checked":"") name="radCompanyType">维修厂
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="3" @(_member.CompanyType==3?"checked":"")  name="radCompanyType">经销商
                    </label>
                </div>
            </div>
        </div>
        <!-------企业信息结束--------->
        <!----------- 联系人---------->
        <div class="validate-form">
            <div class="validate-input">
                <span><span style="color:red">*</span>联系人姓名:</span>
                <input type="text" id="txtContactsManName" value="@_member.ContactsManName" placeholder="请输入">
            </div>
            <div class="validate-input">
                <span>&nbsp;</span>
                <span>联系人手机:</span>
                <input type="text" id="txtMobile" readonly="readonly" value="@(string.IsNullOrEmpty(_member.ContactsMobile)? _member.MobilePhone: _member.ContactsMobile)" placeholder="请输入">
              
            </div> 
        </div>
        <!--------推荐联系人结束-------->
    </form> 
    <div style="padding: 1rem 2rem">
        <a class="am-btn register-sub" href="javascript:void(0);" onclick="Register2()" type="submit">下一步</a>
    </div>
</div> 
<input type="hidden" id="hidTimeStampTab" value="@_member.TimeStampTab" />
<input type="hidden" id="hidMemId" value="@_member.MemId" />

<script> 
    function CheckLogin() {
        var usercode = $.trim($("#txtUserName").val()); 
        if (usercode == "") {
            $("#spanUserNamemsg").html("账号不能为空！");
            //$("#txtUserName").focus();
            return false;
        }
        if (!(/^[a-zA-Z\u4e00-\u9fa5]{1}/.test(usercode))) {
            $("#divUserNameMsg").html("账号首位不能为数字！");
            //$("#txtUserName").focus();
            return false;
        }
        var userid = $.trim($("#hidMemId").val());
        var isex = $.ajax({ url: "/Home/CheckMemberCode", async: false, data: "useraccount=" + usercode + "&userid=" + userid }).responseText;
          if (isex == 1) {
            $("#spanUserNamemsg").html('账号名已存在');
            //$("#txtUserName").focus();
            return false;
        }
        else {
            $("#spanUserNamemsg").html("");
        }
    }

     
    function Register2() {
        var usercode = $.trim($("#txtUserName").val()); 
        var txtMobile = $.trim($("#txtMobile").val());
        var txtMobileYZCode = $.trim($("#txtMobileYZCode").val());
        var companyname = $.trim($("#txtCompanyName").val());
        var province = $.trim($("#hidProvince").val());
        var city = $.trim($("#hidCity").val());
        var address = $.trim($("#txtCompanyAddress").val());
        var comtype = $('#hidCompanyType').val(); 
        var contractmanname = $.trim($("#txtContactsManName").val()); 
        var jiaoyan = true;
        //if (usercode == "" ) {
        //    $("#perrormsg").html("用户名不能为空"); $("#perrormsg").show();
        //    $("#txtUserName").focus();
        //    jiaoyan = false;
        //} 
        
        if (jiaoyan && txtMobile == "") {
            $("#perrormsg").html("联系人手机号码不能为空"); $("#perrormsg").show(); $("#txtMobile").focus();
            jiaoyan = false;
        }
        if (jiaoyan && companyname == "") {
            $("#perrormsg").html("公司名称不能为空"); $("#perrormsg").show(); $("#txtCompanyName").focus();
            jiaoyan = false;
        }
        if (jiaoyan && (province == "" || province == "0" || city == "" || city == "0")) {
            $("#perrormsg").html("请选择省份城市"); $("#perrormsg").show();
            jiaoyan = false;
        } 
        if (jiaoyan && (comtype == "" || comtype == "0")) {
            $("#perrormsg").html("请选择企业类型"); $("#perrormsg").show();
            jiaoyan = false;
        }
        if (jiaoyan && contractmanname == "") {
            $("#perrormsg").html("联系人姓名不能为空"); $("#perrormsg").show(); $("#txtContactsManName").focus();
            jiaoyan = false;
        }
        if (jiaoyan && address == "") {
            $("#perrormsg").html("公司地址不能为空"); $("#perrormsg").show(); $("#txtCompanyAddress").focus();
            jiaoyan = false;
        }
        if (jiaoyan)
        {
            var stamp = $("#hidTimeStampTab").val();
            $.post("/Home/Reg2Submit", {
                useraccount: usercode, mobile: txtMobile, stamp: stamp,
                companyname: companyname, province: province, city: city, comtype: comtype, contractmanname: contractmanname, address: address
            }, function (data) {
                var _returncode = eval("(" + data + ")");
                var status = -_returncode.Status;
                if (status == _TheArray[0]) {
                    var memobj = _returncode.Obj;
                    location.href = "/Home/Reg3?stamp=" + memobj.TimeStampTab + "&returnurl=" + encodeURIComponent(returnurl);
                    return false;
                }
                else {
                    alert(_TheArray[status]);
                    return false;
                }
            });
        }
       
         
        return false;
    }



    $(function () {
        //初始化绑定值
        BindDropParent($("#selProvince"), "/Common/GetProvinceJson", "", $("#hidProvince").val()); //绑定省份下拉框
        if ($("#hidProvince").val() != "" && $("#hidProvince").val() != "0")
        {
            var param = { pcode: $("#hidProvince").val() }
            BindDropParent($("#selCity"), "/Common/GetCityJson", param,$("#hidCity").val()); //绑定市下拉框
        }
        if ($("#hidCompanyType").val() != "" && $("#hidCompanyType").val() != "0")
        {
            $("input[type=radio][name=radCompanyType][value=" + $("#hidCompanyType").val() + "]").attr("checked", 'checked');
        }

        $("#selProvince").change(function () { //省份下拉框change事件
            $("#hidProvince").val($(this).find("option:selected").val());
            $("#hidCity").val("");
            var param = { pcode: $(this).val() }
            BindDropParent($("#selCity"), "/Common/GetCityJson", param); //绑定市下拉框
        });
        $("#selCity").change(function () { //绑定市下拉框change事件
            $("#hidCity").val($(this).find("option:selected").val());
        });
        $("input[name=radCompanyType]").click(function () {
            $("#hidCompanyType").val($(this).val());
        });
            
    })
</script>