<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="易店心,车配网,汽配,汽车用品，汽车配件，乘用车配件，商用车配件，机油，汽修，辅料" />
    <meta name="description" content="易店心是国内最专业的汽车易损件、事故件、全车件等汽车配件的网上采购商城，在线销售机油、电瓶、火花塞、灯泡、养护品、刹车片、滤清器、蓄电池、防冻液等汽车零部件，正品行货，品类齐全。" />
    <link rel="stylesheet" href="@SuperMarket.Core.Globals.SkinPath/css/amazeui.min.css" />
    <link rel="stylesheet" href="@SuperMarket.Core.Globals.SkinPath/css/basicinquiry.css" />
    <script src="@SuperMarket.Core.Globals.SkinPath/js/jquery.min.js"></script>
    @RenderSection("Head", false)
    <script src="@SuperMarket.Core.Globals.SkinPath/js/amazeui.min.js"></script>
    <script src="@SuperMarket.Core.Globals.SkinPath/inquirycss/js/common.js"></script>
    <script src="@SuperMarket.Core.Globals.SkinPath/inquirycss/js/commoncartype.js"></script>
    <script src="@SuperMarket.Core.Globals.SkinPath/inquirycss/js/jquery.bigautocompletenew.js"></script>
    <script src="/themes/common/js/jsglobalenum.js"></script>
</head>
<body>
    <div style="display:none;">
        <input id="txtPicServerRootUrl" value="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl)" />
        <input id="hidMainCommonDomain" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.DomainShopping" />
        <input id="hidReturnUrl" value="@ViewBag.ReturnUrl" />
        <input id="hidMainWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.MainWebUrl" />
    </div>
    @RenderBody()
     
        @Html.Partial("controls/_FootBanner")
    @Html.Partial("controls/_BodyBefore")
</body>
</html>
