
@{
    ViewBag.Title = "_Index";
}
<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易店心</title>
    <meta name="keywords" content="易店心" />
    <meta name="description" content="易店心" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <link rel="stylesheet" href="/Themes/Basic/css/amazeui.min.css"> 
    <link rel="stylesheet" href="/Themes/Basic/css/basic.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link rel="stylesheet" href="/Themes/Basic/css/home.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link rel="stylesheet" href="/Themes/Basic/css/flagship.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle"> 
    <link rel="stylesheet" href="/Themes/Basic/css/cssadd.css?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.CssVersion.MemberStyle">
    <link href="/themes/basic/css/cityselect.css" rel="stylesheet" />
    <link rel="icon" href="/Themes/Basic/img/favicon.ico" type="image/x-icon" />
    <script src="/themes/basic/js/jquery-1.11.1.min.js"></script>
    <script src="/Themes/Basic/js/amazeui.min.js"></script>
    <script src="/Themes/Basic/js/handlebars.min.js"></script>
    <script src="/Themes/Basic/js/amazeui.widgets.helper.js"></script>
    <script src="/Themes/Basic/js/Mobileindex.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/basic/js/common.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script src="/themes/common/js/jsglobalenum.js?type=@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.JsVersion.GlobalCarts"></script>
    <script>
        $(function () {
            $(".am-form-group").click(function () {
                window.location.href = "/Home/Search";
            })   
            NewCheckIsLogin();
        })
    </script>
    <script src="/themes/basic/js/zepto.min.js"></script>
    <script src="/themes/basic/js/jquery.marquee.js"></script> 
</head>
<body class="am-with-fixed-header am-with-fixed-navbar" ><div style="display:none;">
    <input type="hidden" id="hidLoginWebUrl" value="@SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.LoginWebUrl" />
</div>
    <div style="display:none;"> 
        <img src="" alt="易店心" title="易店心" >  </div> 
    <!----头部开始------>
    <header data-am-widget="header" class="am-header am-header-fixed flagship-header">
        <div class="am-header-left am-header-nav">
            <a href="#" class="">
                <i class="am-header-icon am-icon-bars" style="font-size: 1.8rem"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#">
                及时达
            </a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="/Home/Search?js=1" class="">
                <i class="am-header-icon am-icon-search" style="font-size: 1.8rem"></i>
            </a>
        </div>
    </header>
    <!----头部结束------>
    <div class="flagship">
        <!---slider开始----->
        <div data-am-widget="slider" class="am-slider am-slider-a1 home-slider" data-am-slider='{&quot;directionNav&quot;:false}'>
            <ul class="am-slides">
                <li>
                    <a href="#">
                        <img src="http://images.xindahv.com/autoupload/banner/mobile/bannerxinyi.jpg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://images.xindahv.com/autoupload/banner/mobile/bannerxinyi.jpg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://images.xindahv.com/autoupload/banner/mobile/bannerxinyi.jpg">
                    </a>
                </li>
            </ul>
        </div>
        <!----slider结束---->
        <!-----产品分类开始---->
        <div class="am-g home-list">
            <div class="am-u-sm-3">
                <a href="/Product/List?js=1&cl=4639">
                    <img src="~/Themes/Basic/img/propic/huohuasai.jpg" class="am-img-responsive">
                    <div class="">火花塞</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="/Product/List?js=1&cl=4645">
                    <img src="~/Themes/Basic/img/propic/huohuasai.jpg" class="am-img-responsive">
                    <div class="">刹车片</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="/Product/Categray">
                    <img src="/Themes/Basic/img/home_tp4.png" class="am-img-responsive">
                    <div class="">常规分类</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="/Product/Categray?s=2">
                    <img src="http://images.xindahv.com/mobile/tubiao/shangyongche.png" class="am-img-responsive">
                    <div class="">商用车</div>
                </a>
            </div>
        </div>
        <!-----产品分类结束----> 
 
        @{
            IList<SuperMarket.Model.VWProductFineEntity> listjinxuan = ViewBag.ListJinXuan;
            if (listjinxuan != null && listjinxuan.Count > 0)
            {
                <p class="home-faxian">易店心<span>·</span>精选</p>
                    <div class="am-g home-main5" id="divproductjingxuan">
                        @foreach (SuperMarket.Model.VWProductFineEntity entity in listjinxuan)
                        { <div class="am-u-sm-6 home-main5-li">
                            <div class="home-main5-li-div">
                                <a href="/Product/Detail?pd=@(entity.ProductDetailId)">
                                    @if (!string.IsNullOrEmpty(entity.ProductDetail.PicUrlList))
                                    {
                                        <img src="@(SuperMarket.Core.ConfigCore.Instance.ConfigCommonEntity.ImagesServerUrl+entity.ProductDetail.PicUrlList)">
                                    }
                                    else
                                    {    <img src="/Themes/Basic/img/ImageError.jpg">
                                    }
                                    <div class="home-mian5-wz">
                                        <p>@entity.ProductDetail.AdTitle</p>
                                    </div>
                                </a>
                                @if (entity.Price > 0)
                                {
                                    <a href="/Product/Detail?pd=@(entity.ProductDetailId)" style="color: red; text-align: left">￥@entity.Price.ToString("0.00")</a>
                                }
                                else
                                {
                                    <a  style="cursor:pointer;" onclick="FunRedirectRegister()" style="color:red;text-align: left">注册看价格</a>
                                }
                            </div>
                        </div>
                        }
                    </div>
            }
        }
        <!-------精选结束------>
    </div>

  @Html.Partial("controls/_FootBanner")
  @Html.Partial("controls/_BodyBefore")
    
</body>
</html> 
